<div>
  <label>Disk Count: <input min="1" type="number" [(ngModel)]="disks" type="text"></label>
  <br>
  <label>Delay (seconds):  <input min="0" type="number" [(ngModel)]="seconds"/></label>
  <br>
  <label>Iterations: {{iterations}}</label>
  <br>
  <button class="btn btn-success" (click)="hanoi()">Do Hanoi</button>
  <!--<br>
  <button class="btn btn-info" (click)="printArr()">Log Arrays</button>-->
</div>

<br><br>

<div>
	<label>Hanoi Display</label>
	<br>
	<div class="hanoi-view" [style.height.px]="disks * 16">
		<div class="hanoi-tower"  [style.width.px]="disks * 20">
			<div [hidden]="!viewState[0].A.includes(item) && item !== undefined" [style.width.px]="item * 20" class="hanoi-block" *ngFor="let item of viewState[0].A"></div>
		</div>
		<div class="hanoi-tower" [style.width.px]="disks * 20">
			<div [hidden]="!viewState[0].B.includes(item) && item !== undefined" [style.width.px]="item * 20" class="hanoi-block" *ngFor="let item of viewState[0].B"></div>
		</div>
		<div class="hanoi-tower" [style.width.px]="disks * 20">
			<div [hidden]="!viewState[0].C.includes(item) && item !== undefined" [style.width.px]="item * 20" class="hanoi-block" *ngFor="let item of viewState[0].C"></div>
		</div>
	</div>

</div>